---
import Layout from "../layouts/Layout.astro";
import HeaderTop from "../components/HeaderTop";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import NewCard from "../components/NewCard.astro";
import { getCollection } from "astro:content";

interface Props {
  slug: string;
}

const { slug } = Astro.props;

const blogs = await getCollection("blogs");

// const posts = await Astro.glob("../content/posts/*.md");
// const blogs = await Astro.glob("../content/blogs/*.md")
---

<Layout title="Welcome to Astro.">
  <main>
    <HeaderTop client:load />
    <Header title="Muebles Concept" />
    <a href={`/posts/${[slug]} `}>POSTS</a>
    <ul role="list" class="link-card-grid">
      {
        blogs.map((blog) => (
          <NewCard title={blog.data.title} description={blog.data.description} slug={blog.slug} />
        ))
      }
    </ul>
  </main>
  <Footer />
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
