---
import BaseHead from "../../components/BaseHead.astro";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import NewCard from "../../components/NewCard.astro";
import Footer from "../../components/Footer.astro";
import { getCollection } from "astro:content";

const blogs = await getCollection("blogs");
---


<Layout title="Welcome to Astro.">
  <main>
    <section>
      <div class="mx-auto max-w-screen-xl px-4 py-6 sm:px-6 sm:py-4 lg:px-8">
        <div class="max-w-3xl">
          <Header title="Muebles Concept" />
          <ul role="list" class="flex gap-4">
            {
              blogs.map((blog) => (
                <NewCard
                  title={blog.data.title}
                  description={blog.data.description}
                  slug={blog.slug}
                />
              ))
            }
          </ul>
          <Footer />
        </div>
      </div>
    </section>
  </main>
</Layout>
