---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import NewCard from "../../components/NewCard.astro";
import Footer from "../../components/Footer.astro";
import { getCollection } from "astro:content";

const blogs = await getCollection("blogs")
---

<Layout title="Welcome to Astro.">
  <main>
    <Header title="Muebles Concept" />
    <ul role="list" class="link-card-grid">
      {
        blogs.map((blog) => (
          <NewCard
            title={blog.data.title}
            description={blog.data.description}
            slug={blog.slug}
          />
        ))
      }
    </ul>
    <Footer />
  </main>
</Layout>