---
import BaseHead from '../components/BaseHead.astro';
---

<!doctype html>
<html lang="es">
  <BaseHead title="Muebles devs" description="My first Page"/>
  <body class="h-screen">
    <slot />
  </body>
</html>